<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elecCoen_390_projectgroup_3.g_track">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gtracker">
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:label="@string/editProfile"
            android:parentActivityName=".InfoActivity"/>
        <activity
            android:name=".ContactUsActivity"
            android:exported="false"
            android:label="@string/contactusName"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="@string/aboutName"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:label="@string/forgotPassword"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="@string/registerName"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".InfoActivity"
            android:exported="false"
            android:label="@string/loginName" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>